<div class="upper">
    <h3>Update Client Account</h3>
    <p class="firstpara">Use the form below to update the client account.</p>
</div>
<fieldset class="fl">
<form class="form">
    <br>        
    <label for="lname" class="lename"><b>Legal Name</b></label><input type="text" name="lname" class="lenametext" required><br>
    <label for="fname" class="frname"><b>Friendly Name</b></label><input type="text" name="fname" class="frnametext"><br>
    <label for="acty" class="accounttype"><b>Account Type</b></label>
        <select name="acty" id="selectaccount" required>
            <option value=""></option>
            <option value="artist">Artist</option>
            <option value="th-py">Third Party</option>
            <option value="franchise">Franchise</option>
            <option value="mul-nat">Multi National</option>
        </select><br><br>
    <label for="pam" class="primaryaccount"><b>Primary Account Manager</b></label>
        <select name="acty" id="selectprimary" required>
            <option value=""></option>
            <option value="001">Suchit Gupta</option>
            <option value="002">Sean Harbinger</option>
            <option value="003">Tremayne Terry</option>
            <option value="004">Sarang Shivay Prajapati</option>
        </select><br><br>
    <!-- <label for="parac" class="parentaccount"><b>Parent Account</b></label>
        <select name="parac" id="selectparent" >
            <option value=""></option>
            <option value="001">Digital One Trust</option>
        </select><br><br>
    <label for="product" class="products"><b>Products</b></label>
        <input type="checkbox" class="checkbx" name="atlasworldengine" id="awe" onclick="checkbox(this)"><label for="atlasworldengine" class="checkatlas">Atlas World Engine</label>
        <input type="text" id="awe2" class="disableatlas" value="Atlas World Engine" disabled="disabled" /><br>
        <div id="awediv" class="hidediv">
            <label for="user" class="userlb"><b>D1T Username</b></label>
            <input type="text" name="" id="d1tuser"><br>
            <label for="pass" class="passlb"><b>D1T Password</b></label>
            <input type="password" id="d1tpass"><br>
            <label for="cpass" class="cpasslb"><b>D1T Confirm Password</b></label>
            <input type="password" id="d1tcpass">
        </div> <br> -->
        <label for="si" class="special"><b>Special Instruction</b></label><input type="file" name="fu" id="fu" ><br><br>
        <label for="hl" class="headerlogo"><b>Header Logo</b></label><input type="file" name="hl" id="hl" ><br><br>
        <label for="favcolor" class="customnavbar"><b>Custom NavBar Colors</b></label>
        <label for="bg" class="background">Background</label><br>
        <input type="color" id="bg" name="bg" value="#FFFFFF"><br><br>
        <label for="ah" class="activehighlight">Active Highlight</label><br>
        <input type="color" id="ah" name="ah" value="#FFFFFF" ><br><br>
        <label for="itt" class="inactivetab">Inactive Tab Text</label><br>
        <input type="color" id="itt" name="itt" value="#FFFFFF" ><br><br>
        <button type="submit" class="btn btn-lg btn-primary">Update Client Account</button>
        <button type="Cancel" class="btn btn-secondary btn-lg" onclick="window.location.href='ClientAccountDetails.html'">Cancel</button><br><br>
</form>
</fieldset><br><br>