h3{
    font-size: 25px;
    font-weight: 400;
  }
.fl{
    background-color: rgb(221, 224, 224);
    height: max-content;
    width: 90%;
    margin-left: 5%;
    border: 1px solid rgb(180, 182, 182);
    font-size: 15px;
}
.upper{
    margin-left: 5%;
}
.form{
margin-left: 25%;
}
.firstpara{
font-size: 15px;

}
input:focus { 
outline: none !important;
border-color: rgb(106, 109, 109);
box-shadow: 0 0 5px rgb(68, 70, 70);
}
select:focus { 
outline: none !important;
border-color: rgb(106, 109, 109);
box-shadow: 0 0 5px rgb(68, 70, 70);
}
.lename{
margin-left: 20px;
}
.lenametext{
margin-left: 56px;
width: 52%;     
margin-bottom: 20px;
padding: 3px 3px;   
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;
font-size: 14px;
}
.frnametext{
margin-left: 57px; 
width: 52%;     
margin-bottom: 20px;
padding: 3px 3px;   
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;
font-size: 14px;
}
.accounttype{
margin-left: 7px;

}
#selectaccount{
margin-left: 6.2%;
width: 52%;     
padding: 3px 3px;   
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;
font-size: 14px;
}
.primaryaccount{
margin-left: -9%;
}
#selectprimary{
margin-left: 6.2%;
width: 52%;     
padding: 3px 3px;   
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;
font-size: 14px;
}
.parentaccount{
margin-left: -5px;
}
#selectparent{
margin-left: 6.2%;
width: 52%;     
padding: 3px 3px;   
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;
font-size: 14px;
}
.products{
margin-left:4.5%;
}
.checkatlas{
font-size: 14px;
}
.checkbx{
margin-left:6.2%;
}
.checkbox{
margin-left: 170px;
}
input[type=color]{
width: 200px;
margin-left: 18.6%;
}
.disableatlas{
margin-left: 14%;
width: 16%;
margin-bottom: 20px;
padding: 3px 3px;   
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;
font-size: 14px;
}
.hidediv{
display: none;
}
#ditins{
margin-left: 5.6%;
}
.userlb{
margin-left: 1.5px;
}
#d1tuser{
margin-left: 6%;
width: 52%;     
margin-bottom: 20px;
padding: 3px 3px;   
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;
font-size: 14px;
}
.passlb{
margin-left: 6px;
}
#d1tpass{
margin-left: 6%;
width: 52%;     
margin-bottom: 20px;
padding: 3px 3px;   
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;
font-size: 14px;
}
.cpasslb{
margin-left: -6%;
}
#d1tcpass{
margin-left: 5.9%;
width: 52%;     
margin-bottom: 20px;
padding: 3px 3px;   
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;
font-size: 14px;
}
.special{
margin-left: -3%;
}
#fu{
margin-left: 6.3%;
font-size: 14px;
}
.headerlogo{
margin-left:1.2%;
}
#hl{
margin-left: 6.6%;
font-size: 14px;
}
.customnavbar{
margin-left: -6%;
}
.background{
margin-left: 6.1%;
font-size: 14px;
}
.activehighlight{
margin-left: 17.9%;
font-size: 14px;
}
.inactivetab{
margin-left: 17.9%;
font-size: 14px;
}
.btn-primary{
    background-color: orange;
    border-radius: 0px;  
    padding: 5px 12px 5px 12px;
    font-size: 15px;
    border: 1px solid orange;
    margin-left: 170px;
}
.btn-primary:hover {
    background-color:rgb(230, 155, 16);
    border: 1px solid rgb(230, 155, 16);
}
.btn-secondary{
    background-color: rgb(243, 235, 235);
    color: black;
    border-radius: 0px;  
    padding: 5px 12px 5px 12px;
    font-size: 15px;
    margin-left: 1%;
}
.btn-secondary:hover{
    background-color: rgb(164, 168, 168);
    border: 1px solid rgb(164, 168, 168);
}
a{
    text-decoration: none;
}