<div class="splitleft">
    <div class="div1">
     <table>
         <tr>
             <td><a routerLink="/exportthirdpartyfieldconfiguration-component" routerLinkActive ="active" class="bt"> Export Third Party Field Configuration
            </a><router-outlet></router-outlet>
            </td>
        </tr>
     </table>
    
    </div>
  </div>
  
  <div class="splitright">
    <div class="fm">
      <h3>Edit Field Configurations</h3>
      <div class="form">
          <fieldset class="fd">
        <form action="" method="post">
            <div class="fn">
                <b>Field Name</b><br>
                <label for="id">ID</label><br>
                <label for="chain">chain</label><br>
                <label for="name">name</label><br>
                <label for="symbol">symbol</label><br>
                <label for="max_supply">max_supply</label><br>
                <label for="mint_price">mint_price</label><br>
                <label for="tokens_per_mint">tokens_per_mint</label><br>
                <label for="owner_address">owner_address</label><br>
                <label for="treasury_address">treasury_address</label><br>
                <label for="public_mint_start_date">public_mint_start_date</label><br>
                <label for="metadata_updatable">metadata_updatable</label><br>
                <label for="base_uri">base_uri</label><br>
                <label for="prereveal_token_uri">prereveal_token_uri</label><br>
                <label for="presale_mint_start_date">presale_mint_start_date</label><br>
                <label for="presale_whitelisted_addresses">presale_whitelisted_addresses</label><br>
                <label for="royalties_share">royalties_share</label><br>
                <label for="royalties_address">royalties_address</label><br>
            </div>
            <div class="visi">
                <b>Visible</b><br>
                <input type="checkbox" name="visibleid" id="visiid"><br>
                <input type="checkbox" name="visiblechain" id="visichain"><br>
                <input type="checkbox" name="visiblename" id="visiname"><br>
                <input type="checkbox" name="visiblesymbol" id="visisymbol"><br>
                <input type="checkbox" name="visiblemax_supply" id="visimax_supply"><br>
                <input type="checkbox" name="visiblemint_price" id="visimint_price"><br>
                <input type="checkbox" name="visibletokens_per_mint" id="visitokens_per_mint"><br>
                <input type="checkbox" name="visibleowner_address" id="visiowner_address"><br>
                <input type="checkbox" name="visibletreasury_address" id="visitreasury_address"><br>
                <input type="checkbox" name="visiblepublic_mint_start_date" id="visipublic_mint_start_date"><br>
                <input type="checkbox" name="visiblemetadata_updatable" id="visimetadata_updatable"><br>
                <input type="checkbox" name="visiblebase_uri" id="visibase_uri"><br>
                <input type="checkbox" name="visibleprereveal_token_uri" id="visiprereveal_token_uri"><br>
                <input type="checkbox" name="visiblepresale_mint_start_date" id="visipresale_mint_start_date"><br>
                <input type="checkbox" name="visiblepresale_whitelisted_addresses" id="visipresale_whitelisted_addresses"><br>
                <input type="checkbox" name="visibleroyalties_share" id="visiroyalties_share"><br>
                <input type="checkbox" name="visibleroyalties_address" id="visiroyalties_address"><br>
            </div>
            <div class="requi">
                <b>Required</b><br>
                <input type="checkbox" name="requiredid" id="requiid"><br>
                <input type="checkbox" name="requiredchain" id="requichain"><br>
                <input type="checkbox" name="requiredname" id="requiname"><br>
                <input type="checkbox" name="requiredsymbol" id="requisymbol"><br>
                <input type="checkbox" name="requiredmax_supply" id="requimax_supply"><br>
                <input type="checkbox" name="requiredmint_price" id="requimint_price"><br>
                <input type="checkbox" name="requiredtokens_per_mint" id="requitokens_per_mint"><br>
                <input type="checkbox" name="requiredowner_address" id="requiowner_address"><br>
                <input type="checkbox" name="requiredtreasury_address" id="requitreasury_address"><br>
                <input type="checkbox" name="requiredpublic_mint_start_date" id="requipublic_mint_start_date"><br>
                <input type="checkbox" name="requiredmetadata_updatable" id="requimetadata_updatable"><br>
                <input type="checkbox" name="requiredbase_uri" id="requibase_uri"><br>
                <input type="checkbox" name="requiredprereveal_token_uri" id="requiprereveal_token_uri"><br>
                <input type="checkbox" name="requiredpresale_mint_start_date" id="requipresale_mint_start_date"><br>
                <input type="checkbox" name="requiredpresale_whitelisted_addresses" id="requipresale_whitelisted_addresses"><br>
                <input type="checkbox" name="requiredroyalties_share" id="requiroyalties_share"><br>
                <input type="checkbox" name="requiredroyalties_address" id="requiroyalties_address"><br>
            </div><br><br>
            <div class="btu">
            <button type="submit" class="btn btn-lg btn-primary">Save Field Configuration</button>
                <button type="reset" class="btn btn-secondary btn-lg" onclick="window.location.href='ClientAccountDetails.html'" >Cancel</button><br>
        </div>
        </form>
    </fieldset>
    </div>
    </div>
  </div>