.fl{
    background-color: rgb(228, 236, 237);
    height: max-content;
    width: 90%;
    margin-left: 5%;
    border: 1px solid rgb(180, 182, 182);
}
.upper{
    margin-left: 5%;
}
a{
    text-decoration: none;
}
h3{
    font-size: 25px;
    font-weight: 400;
  }
.firstp{
font-size: 15px;
}
.form{
margin-left: 25%;
}
input:focus { 
outline: none !important;
border-color: rgb(106, 109, 109);
box-shadow: 0 0 5px rgb(68, 70, 70);
}
select:focus { 
outline: none !important;
border-color: rgb(106, 109, 109);
box-shadow: 0 0 5px rgb(68, 70, 70);
}
.firstp{
font-size: 15px;
}
input[type=color]{
width: 200px;
margin-left: 18.6%;
}
.fnametext{
margin-left: 17.3%;
width: 52.4%;
margin-bottom: 10px ;  
padding: 3px 3px;   
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box; 
font-size: 14px;
}
#pe2{
margin-left: 14%;
width: 14%;
}
#exus{
margin-top: 2%;
margin-left: 51px;
margin-bottom: 10px ; 
width: 52.3%;
display: inline-block;
padding: 3px 3px;
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box; 
font-size: 14px;
}

.exis{
margin-top: 2%;
font-size: 15px;
margin-left: 2.5%;
}
.fname{
margin-left: 2.5%;
font-size: 15px;
}
.lname{
margin-left: 2.5%;
font-size: 15px;
}
.address1{
margin-left: 2.5%;
font-size: 15px;
}
.address2{
margin-left: 2.5%;
font-size: 15px;
}
.city{
margin-left: 2.5%;
font-size: 15px;
}
.state{
margin-left: 2.5%;
font-size: 15px;
}
.country{
margin-left: 2.5%;
font-size: 15px;
}
.zip{
margin-left: 2.5%;
font-size: 15px;
}
.phone{
margin-left: 2.5%;
font-size: 15px;
}
.lnametext{
margin-left: 160px; 
margin-bottom: 10px;
width: 52.4%;
padding: 3px 3px;   
display: inline-block;   
border: 1px solid rgb(180, 182, 182);  
box-sizing: border-box;
font-size: 14px;
}
.address1text{
margin-left: 165px; 
margin-bottom: 10px;
width: 52.4%;
padding: 3px 3px;   
display: inline-block;   
border: 1px solid rgb(180, 182, 182);  
box-sizing: border-box;
font-size: 14px;
}
.address2text{
    margin-left: 165px; 
    margin-bottom: 10px;
    width: 52.4%;
    padding: 3px 3px;   
    display: inline-block;   
    border: 1px solid rgb(180, 182, 182);  
    box-sizing: border-box;
    font-size: 14px;
    }
    .citytext{
        margin-left: 206px; 
        margin-bottom: 10px;
        width: 52.4%;
        padding: 3px 3px;   
        display: inline-block;   
        border: 1px solid rgb(180, 182, 182);  
        box-sizing: border-box;
        font-size: 14px;
        }
        .statetext{
            margin-left: 198px; 
            margin-bottom: 10px;
            width: 52.4%;
            padding: 3px 3px;   
            display: inline-block;   
            border: 1px solid rgb(180, 182, 182);  
            box-sizing: border-box;
            font-size: 14px;
            }
            .countrytext{
                margin-left: 176px; 
                margin-bottom: 10px;
                width: 52.4%;
                padding: 3px 3px;   
                display: inline-block;   
                border: 1px solid rgb(180, 182, 182);  
                box-sizing: border-box;
                font-size: 14px;
                }
                .ziptext{
                    margin-left: 210px; 
                    margin-bottom: 10px;
                    width: 52.5%;
                    padding: 3px 3px;   
                    display: inline-block;   
                    border: 1px solid rgb(180, 182, 182);  
                    box-sizing: border-box;
                    font-size: 14px;
                    }
                    .phonetext{
                        margin-left: 188px; 
                        margin-bottom: 10px;
                        width: 52.4%;
                        padding: 3px 3px;   
                        display: inline-block;   
                        border: 1px solid rgb(180, 182, 182);  
                        box-sizing: border-box;
                        font-size: 14px;
                        }

.email{
margin-left: 23px;
font-size: 15px;
}
#email{
margin-left: 14.7%;
margin-bottom: 10px;
width: 52.4%;
padding: 3px 3px;   
font-size: 14px;
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;
}
.sso{
margin-left: -2.4%;
font-size: 15px;
}
.hidediv{
display: none;
}
.checkbx{
margin-left: 5.8%;
}
.idpro{
margin-left: -2.3%;
font-size: 15px;
}
#idpro{
margin-top: 2%;
margin-left: 6%;
margin-bottom: 10px ; 
width: 52.1%;
padding: 3px 3px;   
font-size: 14px;
display: inline-block;   
border: 1px solid rgb(180, 182, 182); 
box-sizing: border-box;
}
.prelan{
margin-left: 2.5%;
font-size: 15px;
}
#prefelan{
margin-top: 0.5%;
margin-left: 10.3%;
margin-bottom: 10px ; 
width: 476px;
padding: 3px 3px;   
font-size: 14px;
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;
}
.pretime{
margin-left: 2.4%;
font-size: 15px;
}
#prefetime{
margin-left: 9.8%;
margin-bottom: 10px ; 
width: 476px;
padding: 3px 3px;   
font-size: 14px;
display: inline-block;   
border: 1px solid rgb(180, 182, 182);  
box-sizing: border-box;
}
.precul{
margin-left: 2.4%;
font-size: 15px;
}
#prefecul{
margin-left: 12.3%;
margin-bottom: 10px ; 
width: 476px;
padding: 3px 3px;   
font-size: 14px;
display: inline-block;   
border: 1px solid rgb(180, 182, 182);  
box-sizing: border-box;
}
.div3{
position: relative;
float: left;
margin-left: 6.9%;
}
.selectemail{
margin-left: -7px;
font-size: 15px;
}
.div4{
position: relative;
float: left;
margin-left: 5.8%;
font-size: 14px;
}
.optin{
margin-left: 253px;
}
.selectListBox{
position: relative;
float: left;
width: 25%;
margin-left: 17.2%;
border: 1px solid rgb(180, 182, 182);
font-size: 14px;
padding-bottom: 25px;
}
.div6{
position: relative;
float: left;
margin-left: 30px;
margin-top: 20px;
}
.selectListBox2{
position: relative;
float: left;
width: 25%;
margin-left: 3%;
border: 1px solid rgb(180, 182, 182);
font-size: 14px;
padding-bottom: 25px;
}
.dis0{
clear: both;
position: static;
margin-top: 2%;
margin-left: -14%;
}
#dis0{
margin-left: 5.5%;
}
.p{
margin-left: 20.8%;
}
.persona{
margin-left: 5%;
font-size: 15px;
}
#persona{
margin-top: 1%;
margin-left: 5.6%;
margin-bottom: 10px ; 
width: 474px;
padding: 3px 3px;   
font-size: 14px;
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;
}
.ficheck{
margin-left: 5.4%;
}
.check{
margin-left: 18.3%;
}
.button3{
margin-bottom: 60%;
padding: 2px 8px 2px 8px;
margin-top: -20px;
border: 1px solid rgb(180, 182, 182); 
}
.button3:hover{
background-color: rgb(114, 116, 116) ;
border: 1px solid rgb(84, 85, 85);
}
.button4{
padding: 2px 8px 2px 8px;
border: 1px solid rgb(180, 182, 182); 
}
.button4:hover{
background-color: rgb(114, 116, 116) ;
border: 1px solid rgb(84, 85, 85);
}
.butt{
margin-right: 25%;
}
.sub{
background-color: orange;
color: white;
}
.btn-primary{   
    margin-left: 100px;
    background-color: orange;
    border-radius: 0px;  
    padding: 5px 12px 5px 12px;
    font-size: 15px;
    border: 1px solid orange;
    margin-left: 180px;
}
.btn-primary:hover {
    background-color:rgb(230, 155, 16);
    border: 1px solid rgb(230, 155, 16);
}
.btn-secondary{
    background-color: rgb(243, 235, 235);
    color: black;
    border-radius: 0px;  
    padding: 5px 12px 5px 12px;
    font-size: 15px;
    margin-left: 2%;
}
.btn-secondary:hover{
    background-color: rgb(164, 168, 168);
    border: 1px solid rgb(164, 168, 168);
}