<div class="upper">
    <h4>Edit Email Template Forgot Password</h4>
    <p class="firstp">Use the form below to update the  Forgot Password email template</p>
</div>
<fieldset class="fl">
<form class="form">
    <label for="tname" class="tname"><b>Template Name</b></label>
    <p class="forgotpassword">Forgot Password</p>  
    <label for="emailcc" class="cc"><b>Email CC</b></label>
    <input type="email" name="emailcc" id="cc" disabled="disabled"><br><br><br><br>
    <label for="lang" class="lang"><b>Language</b></label>
    <p class="English">English (US)</p>
    <label for="sub" class="sub"><b>Subject</b></label>
    <input type="text" name="sub" class="subtext" disabled="disabled"><br><br>
    <label for="body" class="body"><b>HTML Body</b></label>
    <textarea name="body" id="htmbody" cols="115" rows="7" disabled="disabled"></textarea><br><br>
</form>
</fieldset><br>
<button type="submit" class="btn btn-lg btn-primary" onclick="window.location.href='ClientAccountDetails.html'">Cancel</button>
<button type="reset" class="btn btn-secondary btn-lg" onclick="window.location.href='EditEmailTemplate.html'" >Edit Template</button><br><br>