<div class="splitleft">
    <div class="div1">
     <table class="sidetable">
        <tr class="sidetr">
            <td class="sidetabletext" align="center"><a routerLink="/updateinternaluser-component" routerLinkActive ="active" class="bt"> Update User
           </a><router-outlet></router-outlet>
           </td>
       </tr>
       <tr class="sidetr">
        <td class="sidetabletext" align="center"><a routerLink="/deactivateinternaluser-component" routerLinkActive ="active" class="bt"> Deactivate User
        </a><router-outlet></router-outlet>
       </td>
   </tr>
   <tr class="sidetr">
    <td class="sidetabletext" align="center"><a routerLink="/resetpasswordinternaluser-component" routerLinkActive ="active" class="bt"> Reset Password
    </a><router-outlet></router-outlet>
   </td>
     </table>
    
    </div>
  </div>
  
  <div class="splitright">
    <div class="fm">
      <h3>Internal User Details</h3>
      <div class="form">
          <fieldset class="fd">
        <form action="" method="get">
            <table class="detailtable">
              <tbody>
                <tr class="detailtr">
                  <td class="detailtd">First Name:</td>
                  <td></td>
                </tr>
                <tr class="detailtr">
                  <td class="detailtd">Last name:</td>
                  <td></td>
                </tr>
                <tr class="detailtr">
                  <td class="detailtd">Email Address:</td>
                  <td></td>
                </tr>
                <tr class="detailtr">
                  <td class="detailtd">Roles:</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
        </form>
    </fieldset>
    </div>
    </div>
  </div>