.fl{
    background-color: rgb(228, 236, 237);
    height: max-content;
    width: 90%;
    margin-left: 5%;
}
.upper{
    margin-left: 5%;
} 
.form{
margin-left: 25%;
}
h3{
    font-size: 25px;
    font-weight: 400;
  }
.firstp{
font-size: 15px;
}
.lename{
font-size: 15px;
margin-left: 20%;
}
.lename:after {
    content:" *";
    color: red;
}
.hlabel{
    font-size: 15px;
    margin-left: 20%;
    }
    .label{
        font-size: 15px;
        margin-left: 20%;
        }
.walletaddress{
font-size: 15px;
margin-left: 20%;
}
.walletaddress:after {
    content:" *";
    color: red;
}
.accounttype{
    margin-left: 20%;
font-size: 15px;
}
.accounttype:after {
    content:" *";
    color: red;
}
.accountmanager{
    margin-left: 20%;
font-size: 15px;
}
.accountmanager:after {
    content:" *";
    color: red;
}
.parentaccount{
    margin-left: 20%;
font-size: 15px;
}
.parentaccount:after {
    content:" *";
    color: red;
}
.products{
margin-left: 20%;
font-size: 15px;
}
.products:after {
    content:" *";
    color: red;
}
.specialins{
margin-left: 20%;
font-size: 15px;
}
.bannerimage{
    margin-left: 20%;
    font-size: 15px; 
}
.bannerimage:after {
    content:" *";
    color: red;
}
.headerlogo{
margin-left: 20%;
font-size: 15px;
}
.headerlogo:after {
    content:" *";
    color: red;
}
.customnavbar{
margin-left: 20%;
font-size: 15px;
}
.letext{
width: 52%;  
font-size: 14px; 
margin: 10px ;
margin-bottom: 20px;
margin-left: 122px;  
padding: 3px 3px;   
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;   
}
.headlab{
    width: 52%;  
    font-size: 14px; 
    margin: 10px ;
    margin-bottom: 20px;
    margin-left: 122px;  
    padding: 3px 3px;   
    display: inline-block;   
    border: 1px solid rgb(180, 182, 182);   
    box-sizing: border-box;   
    }
    
    .lab{
        width: 52%;  
        font-size: 14px; 
        margin: 10px ;
        margin-bottom: 20px;
        margin-left: 177px;  
        padding: 3px 3px;   
        display: inline-block;   
        border: 1px solid rgb(180, 182, 182);   
        box-sizing: border-box;   
        }
.addresstext{
margin-left: 100px;
margin-bottom: 20px;
width: 52%;   
font-size: 14px;  
padding: 3px 3px;   
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;   
}
#acty{
margin-left: 9%;
}
#primaryaccountmanager{
margin-left: 20px;
}
#parentac{
margin-left: 97px;
}
select{
margin-left: 6%;
width: 52.1%;
font-size: 14px;  
padding: 3px 3px;
border: 1px solid rgb(180, 182, 182);
}
select:focus { 
outline: none !important;
border-color: rgb(106, 109, 109);
box-shadow: 0 0 5px rgb(68, 70, 70);
}
.checkbox{
margin-left: 170px;
}
.checkbx{
    margin-left: 142px;
}
.atlascheck{
font-size: 14px;
}
.atlastext{
font-size: 15px;
width: 52%;   
margin: 10px ;
margin-left: 15px;  
font-size: 14px;  
padding: 4px 4px;
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;   
}
input[type=color]{
width: 200px;
margin-left: 18.6%;
}
#awe2{
margin-left: 14%;
width: 16%;
}
#ditins{
margin-left: 5.6%;
}
.userlb{
margin-left: 20%;
font-size: 15px;
}
#d1tuser{
margin-left: 100px;
width: 52%; 
margin-bottom: 10px;    
font-size: 14px;  
padding: 4px 4px;  
display: inline-block;   
border: 1px solid rgb(180, 182, 182);   
box-sizing: border-box;   
}
.passlb{
margin-left: 20%;
font-size: 15px;
}
#d1tpass{
margin-left: 104px;
width: 52%;   
margin-bottom: 10px ; 
font-size: 14px;  
padding: 4px 4px;  
display: inline-block;   
border: 1px solid rgb(180, 182, 182); 
box-sizing: border-box;   
}
.cpasslb{
margin-left: 20%;
font-size: 15px;
}
#d1tcpass{
margin-left: 42px;
width: 52%;   
margin-bottom: 10px ; 
font-size: 14px;  
padding: 4px 4px;
display: inline-block;   
border: 1px solid rgb(180, 182, 182);  
box-sizing: border-box;   
}
#fu{
margin-left: 85px;
font-size: 14px;
}
#banimg{
    margin-left: 107px;
font-size: 14px;
}
#hl{
margin-left: 115px;
font-size: 14px;
}
.background{
margin-left: 4.6%;
font-size: 14px;
}
#bg{
margin-left: 38%;
}
.activehighlight{
margin-left: 37.8%;
font-size: 14px;
}
#ah{
margin-left: 38%;
}
.inactivetab{
margin-left: 37.8%;
font-size: 14px;
}
#itt{
margin-left: 38%;
}
input:focus { 
outline: none !important;
border-color: rgb(106, 109, 109);
box-shadow: 0 0 5px rgb(68, 70, 70);
}
.btn-primary{
    background-color: orange;
    border-radius: 0px;  
    padding: 5px 12px 5px 12px;
    font-size: 15px;
    border: 1px solid orange;
    margin-left: 36.8%;
}
.btn-primary:hover {
    background-color:rgb(230, 155, 16);
    border: 1px solid rgb(230, 155, 16);
}
.btn-secondary{
    background-color: rgb(243, 235, 235);
    color: black;
    border-radius: 0px;  
    padding: 5px 12px 5px 12px;
    font-size: 15px;
    margin-left: 1%;
}
.btn-secondary:hover{
    background-color: rgb(164, 168, 168);
    border: 1px solid rgb(164, 168, 168);
}
a{
    text-decoration: none;
}