<div class="splitleft">
    <div class="div1">
     <table class="tb">
         <tr class="data">
             <td class="data"><a routerLink="/clientaccountdetail-component" routerLinkActive ="active" class="bt"> View Client Account
            </a><router-outlet></router-outlet>
            </td>
        </tr>
        <tr class="data">
            <td class="data"><a routerLink="/manageuserpersonas-component" routerLinkActive ="active" class="bt"> Manage User Personas
            </a><router-outlet></router-outlet>
           </td>
       </tr>
       <tr class="data">
        <td class="data"><a routerLink="/manageuseradduser-component" routerLinkActive ="active" class="bt"> Add User
        </a><router-outlet></router-outlet>
       </td>
       </tr>
       <!-- <tr class="data">
        <td class="data"><a routerLink="/addupdatebulkusers-component" routerLinkActive ="active" class="bt"> Add/Update Bulk Users
        </a><router-outlet></router-outlet>
        </td>
       </tr>
       <tr class="data">
        <td class="data"><a routerLink="/downloadusers-component" routerLinkActive ="active" class="bt"> Download Users
        </a><router-outlet></router-outlet>
        </td>
       </tr> -->
     </table>
    
    </div>
  </div>
  
  <div class="splitright">
    <div class="fm">
      <h3>Manage Users</h3>
      <div class="form">
        <form action="" method="post">
            <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col" class="tbfname">First Name</th>
                    <th scope="col" class="tblname">Last Name</th>
                    <th scope="col" class="tbemail">Email</th>
                    <th scope="col" class="tbstatus">Status</th>
                    <th scope="col" class="tbtype">Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot>
                    <tr><td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>;</tr>
                </tfoot>
              </table>
        </form>
    </div>
    </div>
  </div>