<div class="splitleft">
    <div class="div1">
     <table class="sidetable">
         <tr class="sidetr">
             <td class="sidetabletext"><a routerLink="/updateclientaccount-component" routerLinkActive ="active" class="sidelink"> Update Account
            </a><router-outlet></router-outlet>
            </td>
        </tr>
        <tr class="sidetr">
            <td class="sidetabletext"><a routerLink="/deactivateclientaccount-component" routerLinkActive ="active" class="sidelink"> Deactivate Account
            </a><router-outlet></router-outlet>
           </td>
       </tr>
       <tr class="sidetr">
        <td class="sidetabletext"><a routerLink="/manageusers-component" routerLinkActive ="active" class="sidelink"> Manage Users
        </a><router-outlet></router-outlet>
       </td>
       <tr class="sidetr">
        <td class="sidetabletext"><a routerLink="/managefields-component" routerLinkActive ="active" class="sidelink"> Manage Fields
        </a><router-outlet></router-outlet>
       </td>
       <tr class="sidetr">
        <td class="sidetabletext"><a routerLink="/manageemailnotification-component" routerLinkActive ="active" class="sidelink"> Manage Email Notification
        </a><router-outlet></router-outlet>
       </td>
   </tr>
     </table>
    
    </div>
  </div>
  
  <div class="splitright">
    <div class="fm">
      <h3>Client Account Details</h3>
      <div class="form">
          <fieldset class="fd">
        <form action="" method="get">
          <table class="detailtable">
            <tbody>
              <tr class="detailtr">
                <td class="detailtd">Legal Name:</td>
                <td></td>
              </tr>
              <tr class="detailtr">
                <td class="detailtd">Wallet Address:</td>
                <td></td>
              </tr>
              <tr class="detailtr">
                <td class="detailtd">Account Type:</td>
                <td></td>
              </tr>
              <tr class="detailtr">
                <td class="detailtd">Primary Account Manager:</td>
                <td></td>
              </tr>
              <tr class="detailtr">
                <td class="detailtd">Header Label:</td>
                <td></td>
              </tr>
              <tr class="detailtr">
                <td class="detailtd">Label:</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </form>
    </fieldset><br>
    <h4>Products</h4><br>
    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col" class="tbpname">Product Name</th>
            <th scope="col" class="tborder">Order Due In Days</th>
            <th scope="col" class="tbdelivery">Deliverables</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="productbody">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a routerLink="/productdetail-component" routerLinkActive ="active" class="sidelink"> Details
            </a><router-outlet></router-outlet></td>
          </tr>
        </tbody>
        <tfoot>
            <tr><td></td>
                <td></td>
                <td>&nbsp;</td>
                <td></td>;</tr>
        </tfoot>
      </table> <br>
    <h4>Email Templates</h4><br>
    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col" class="tbemailtype">Email Type Name</th>
            <th scope="col" class="tbiscustom">Is Custom?</th>
            <th scope="col" class="tbquestion">Questionnaire</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Account Creation - External</td>
            <td></td>
            <td></td>
            <td><a routerLink="/accountexternal-component" routerLinkActive ="active" class="emailtemplatelink"> Details
            </a><router-outlet></router-outlet>&nbsp;|&nbsp;<a routerLink="/" routerLinkActive ="active" class="emailtemplatelink"> Edit
            </a><router-outlet></router-outlet></td>
          </tr>
          <tr>
            <td>Account Creation - Internal</td>
            <td></td>
            <td></td>
            <td><a routerLink="/-component" routerLinkActive ="active" class="emailtemplatelink"> Details
            </a><router-outlet></router-outlet>&nbsp;|&nbsp;<a routerLink="/" routerLinkActive ="active" class="emailtemplatelink"> Edit
            </a><router-outlet></router-outlet></td>
          </tr>
          <tr>
            <td>Forgot Password</td>
            <td></td>
            <td></td>
            <td><a routerLink="/detailsforgot-component" routerLinkActive ="active" class="emailtemplatelink"> Details
            </a><router-outlet></router-outlet>&nbsp;|&nbsp;<a routerLink="/editforgot-component" routerLinkActive ="active" class="emailtemplatelink"> Edit
            </a><router-outlet></router-outlet></td>
          </tr>
          <tr>
            <td>Marketing Updates</td>
            <td></td>
            <td></td>
            <td><a routerLink="/" routerLinkActive ="active" class="emailtemplatelink"> Details
            </a><router-outlet></router-outlet>&nbsp;|&nbsp;<a routerLink="/" routerLinkActive ="active" class="emailtemplatelink"> Edit
            </a><router-outlet></router-outlet></td>
          </tr>
          <tr>
            <td>Order Confirmation</td>
            <td></td>
            <td></td>
            <td><a routerLink="/" routerLinkActive ="active" class="emailtemplatelink"> Details
            </a><router-outlet></router-outlet>&nbsp;|&nbsp;<a routerLink="/" routerLinkActive ="active" class="emailtemplatelink"> Edit
            </a><router-outlet></router-outlet></td>
          </tr>
          <tr>
            <td>Order Status Update</td>
            <td></td>
            <td></td>
            <td><a routerLink="/" routerLinkActive ="active" class="emailtemplatelink"> Details
            </a><router-outlet></router-outlet>&nbsp;|&nbsp;<a routerLink="/" routerLinkActive ="active" class="emailtemplatelink"> Edit
            </a><router-outlet></router-outlet></td>
          </tr>
          <tr>
            <td>Password Reset</td>
            <td></td>
            <td></td>
            <td><a routerLink="/" routerLinkActive ="active" class="emailtemplatelink"> Details
            </a><router-outlet></router-outlet>&nbsp;|&nbsp;<a routerLink="/" routerLinkActive ="active" class="emailtemplatelink"> Edit
            </a><router-outlet></router-outlet></td>
          </tr>
        </tbody>
        <tfoot>
            <tr><td></td>
                <td></td>
                <td>&nbsp;</td>
                <td></td>;</tr>
        </tfoot>
      </table>
    </div>
    </div>
  </div><br><br>