<div class="splitleft">
    <div class="div1">
     <table class="tb">
         <tr>
             <td class="data"><a routerLink="/managerusers-component" routerLinkActive ="active" class="bt">Back to Manage Users
            </a><router-outlet></router-outlet>
            </td>
        </tr>
        <tr>
            <td class="data"><a routerLink="/createpersona-component" routerLinkActive ="active" class="bt">Create Persona
            </a><router-outlet></router-outlet>
           </td>
       </tr>
     </table>
   
    </div>
  </div>
  
  <div class="splitright">
    <div class="fm">
      <h3>Manage User Personas</h3>
      <div class="form">
          
        <form action="" method="post">
            <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col" class="tbname">Name</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot>
                    <tr><td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>;</tr>
                </tfoot>
              </table>
        </form>
    </div>
    </div>
  </div>