h3{
    font-size: 25px;
    font-weight: 400;
  }
.splitleft {
    margin-top: 5%;
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
}

/* Control the right side */
.splitright {
    margin-top: 5%;
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
}
/* fieldset css */
.fd{
    padding: 30px 50px 40px 50px;
    border: 1px; 
    background-color: rgb(221, 224, 224);
    height: max-content;
    width: 95%;
    border: 1px solid rgb(180, 182, 182);
    font-size: 14px;
}
.fl{
    margin-top: 30px;
    background-color: orange;
}
tr,td{
    margin-top: 5%;
    width: 60%;
    margin-left: -25%;
    border:  1px solid rgb(221, 224, 224);
    background-color: transparent;
    color: orange;
    font-size: 16px;
    padding: 8px 15px 8px 15px;
}
.div1{
    margin-top: 3%;
    margin-left: 35px;
  }
.bt{
    color: orange;
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.bt:hover{
    color: rgb(209, 138, 7);
    text-decoration: underline;
}
table{
    border:  1px solid rgb(221, 224, 224);
}
a{
    text-decoration: none;
}