<div class="splitleft">
    <div class="div1">
     <table>
         <tr>
             <td>
                <a routerLink="/updateexternaluser-component" routerLinkActive ="active" class="bt"> Update Account
                    </a><router-outlet></router-outlet>
            </td>
        </tr>
        <tr>
            <td>
                <a routerLink ="/deactivateexternaluser-component" routerLinkActive ="active" class="bt"> Deactivate Account
                    </a><router-outlet></router-outlet>
           </td>
       </tr>
       <tr>
           <td>
            <a routerLink ="/resetpasswordexternaluser-component" routerLinkActive ="active" class="bt"> Reset Password
                </a><router-outlet></router-outlet>
    </td>
   </tr>
     </table>
    </div>
  </div>
  
  <div class="splitright">
    <div class="fm">
      <h3>External User Details</h3>
      <div class="form">
          <fieldset class="fd">
        <form action="" method="get">
            
        </form>
    </fieldset>
    </div>
    </div>
  </div>