h3{
  font-size: 25px;
  font-weight: 400;
}
  .mat-paginator {
    display: flex;
    justify-content: center;
  }
  .splitleft {
    margin-top: 5%;
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
}

/* Control the right side */
.splitright {
    margin-top: 5%;
    height: 100%;
    width: 77%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
}
.div1{
  margin-top: 5%;
}
.bt{
  margin-top: 10%;
  width: 100%;
  margin-left: 10%;
  border: 1px solid rgb(221, 224, 224);
  background-color: transparent;
  color: orange;
  font-size: 16px;
  padding: 7px 50px 7px 50px;

}
.bt:hover{
  color: rgb(209, 138, 7);
  text-decoration: underline;
}
/* fieldset css */
.fd{
  padding: 30px 50px 40px 50px;
  border: 1px; 
  background-color: rgb(221, 224, 224);
  height: 180px;
  width: 95%;
  border: 1px solid rgb(180, 182, 182);
}
.btn-primary{
  background-color: orange;
  border-radius: 0px;  
  padding: 5px 12px 5px 12px;
  font-size: 15px;
  border: 1px solid orange;
  margin-left: 40%;
}
.btn-primary:hover {
  background-color:rgb(230, 155, 16);
  border: 1px solid rgb(230, 155, 16);
}
.btn-secondary{
  background-color: rgb(243, 235, 235);
  color: black;
  border-radius: 0px;  
  padding: 5px 12px 5px 12px;
  font-size: 15px;
  margin-left: 10px;
}
.btn-secondary:hover{
  background-color: rgb(164, 168, 168);
  border: 1px solid rgb(164, 168, 168);
}
.filres{
  margin-left: -50px;
}
.cp{
  margin-top: .7%;
  margin-left: 83%;
  color: black;
}
.sideli{
  color: black;
}
.sideli:hover {
  color: rgb(24, 21, 21);
  text-decoration: underline;
}
a{
  text-decoration: none;
}
#sts{
  padding: 3px;
  width: 25.3%;
  display: inline-block;
  border: 1px solid rgb(180, 182, 182);  
  box-sizing: border-box;
}
select:focus { 
outline: none !important;
border-color: rgb(106, 109, 109);
box-shadow: 0 0 5px rgb(68, 70, 70);
}
.fname{
  font-size: 15px;
}
.lname{
  font-size: 15px;
  margin-left: 1.3px;
}
.email{
  font-size: 15px;
  margin-left: 4.2%;
}
.status{
  font-size: 15px;
  margin-left: 73px;
}
input:focus { 
outline: none !important;
border-color: rgb(106, 109, 109);
box-shadow: 0 0 5px rgb(68, 70, 70);
}
.ftext{
  width: 25%;
  margin-right: 18.5%;
  display: inline-block;   
  padding: 2.2px 2.2px;
  border: 1px solid rgb(180, 182, 182);  
  box-sizing: border-box;
  background-color: white;
}
.ltext{
  width: 25%;
  display: inline-block;   
  padding: 2.2px 2.2px;
  border: 1px solid rgb(180, 182, 182);  
  box-sizing: border-box;
  background-color: white;
}
.etext{
  width: 25%;
  margin-right: 10%;
  margin-top: 2%;
  display: inline-block;   
  padding: 2px 2px;
  border: 1px solid rgb(180, 182, 182);  
  box-sizing: border-box;
  background-color: white;
}
.downloadresult{
  font-size: 14px;
  color: orange;
  float: right;
  margin-right: 65px;
}
table{
  margin-top: -4%;
  width: 95%;
  background-color: rgb(221, 224, 224);
  margin-left: 1px;
  font-size: 14px;
}
tbody{
  background-color: white;
  border-bottom: 1px solid rgb(134, 141, 141);
}