h3{
    font-size: 25px;
    font-weight: 400;
  }
  .div1 {
    margin-top: 5%;
    height: 100%;
    width: 90%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
}
.field{
    padding: 30px 50px 50px 50px;
    border: 1px; 
    background-color: rgb(230, 240, 240);
    border: 1px solid rgb(180, 182, 182);
    height: max-content;
    width: 90%;
}
.firstpara{
    font-size: 15px;
  }
  .div3{
      position: relative;
      float: left;
      margin-right: 15px;
      margin-left: 15%;
      font-size: 15px;
  }
  .div4{
      width: 25%; 
      float: left; 
      position: relative;
      font-size: 15px;
  }
  .div5{
      float: left; 
      width: 25%; 
      position: relative;
      font-size: 15px;
      margin-left: -10px;
  }
  .selectListBox{
      -webkit-appearance: menulist-button;
      height: 150px;
      width: 100%;
      font-size: 14px;
  }
  .div6{
      width: 15%; 
      position: relative; 
      float: left; 
      margin-top: 5%; 
      margin-right: -6%;
      margin-left: 35px;
  }
  .button3{
  padding: 2px 8px 2px 8px;
  margin-top: -20px;
  margin-bottom: 20%;
  border: 1px solid rgb(180, 182, 182); 
}
.button3:hover{
  background-color: rgb(114, 116, 116) ;
  border: 1px solid rgb(84, 85, 85);
}
.button4{
  padding: 2px 8px 2px 8px;
  border: 1px solid rgb(180, 182, 182); 
}
.button4:hover{
  background-color: rgb(114, 116, 116) ;
  border: 1px solid rgb(84, 85, 85);
}
.btn-primary{   
      margin-top: 5%;
      margin-left: 100px;
      background-color: orange;
      border-radius: 0px;  
      padding: 5px 12px 5px 12px;
      font-size: 15px;
      border: 1px solid orange;
      margin-left: 45%;
  }
  .btn-primary:hover {
      background-color:rgb(230, 155, 16);
      border: 1px solid rgb(230, 155, 16);
  }
  .btn-secondary{
      margin-top: 5%;
      background-color: rgb(243, 235, 235);
      color: black;
      border-radius: 0px;  
      padding: 5px 12px 5px 12px;
      font-size: 15px;
      margin-left: 1%;
  }
  .btn-secondary:hover{
      background-color: rgb(164, 168, 168);
      border: 1px solid rgb(164, 168, 168);
  }
  a{
      text-decoration: none;
  }