<div class="div1">
    <div class="div2">
      <h3>Manage Email Notification</h3>
      <p class="firstpara">Select email types to disbale across account.</p>
      <div class="form">
          <fieldset class="field">
              <div class="div3" ><b>Email type</b></div>
            <div class="div4">
                Opted out <br />
                <select multiple="multiple" id="selectBoxOne" size="5" class="selectListBox" >
                    <option value="0" id="multiple0">Option 0</option>
                    <option value="1" id="multiple1">Option 1</option>
                    <option value="2" id="multiple2">Option 2</option>
                    <option value="3" id="multiple3">Option 3</option>
                    <option value="4" id="multiple4">Option 4</option>
                    <option value="5" id="multiple5">Option 5</option>
                </select>
              </div>
                <div class="div6">
                <button  class="button button3" onclick="move('right');">>></button><br>
                <button class="button button4" onclick="move('left');" >&lt;&lt;</button>
                </div>
                <div class="div5"><label for="policyCode">Opted in</label> <br>
                <select name="policyCode" multiple="multiple" id="selectBoxSecond" size="5" class="selectListBox">
                  <option value="6" id="multiple6">Option 6</option>
                    <option value="7" id="multiple7">Option 7</option>
                    <option value="8" id="multiple8">Option 8</option>
                </select>
              </div>
                <button type="submit" class="btn btn-lg btn-primary">Update</button>
                  <button type="reset" class="btn btn-secondary btn-lg" onclick="window.location.href='ClientAccountDetails.html'" >Cancel</button>
              
    </fieldset>
    </div>
    </div>
  </div>