<div class="div1">
    <div class="fm">
      <h3>Deactivate User</h3>
      <div class="form">
          <fieldset class="fd">
            <input type="text" name="message" id="msg" value="Clicking Deactivate User will deactivate the user. If you do not wish to continue, click Cancel." disabled="disabled"><br>
            <div class="filres"><button type="submit" class="btn btn-lg btn-primary">Deactive User</button>
                <button type="cancel" class="btn btn-secondary btn-lg"><a routerLink="/internaluserdetail-component" routerLinkActive ="active" class="sidelink"> Cancel
                </a><router-outlet></router-outlet></button></div>
    </fieldset>
    </div>
    </div>
  </div>